<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MientrasHagoLimonada</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<header>
  <section class="header-icons-container">
  </section>
  <nav>
    <section class="nav-logo-container">
      <a href="/"><img th:src="@{/img/LogoMientrasHagoLimonada.PNG}" alt="Logo de mi blog" > </a>
    </section>
    <section class="profile-link">
      <a href="/perfil">Sobre mí</a>
    </section>
  </nav>
</header>
<main class="blogs-main">
  <section class="blogs-news-container">
    <div class="grid-container blogs-main-new">
      <h3>¡MientrasHagoLimonada está de vuelta!</h3>
      <div class="blogs-news-img-container">
        <img th:src="@{/img/limonero.jpg}" alt="">
      </div>
      <div class="blogs-news-info-container">
        <h2>MientrasHagoLimonada</h2>
        <p>Si en algún momento fuiste fan del blog MientrasHagoLimonada, descubre la historia detrás de nuestro regreso.</p>
        <a href="/info" class="blogs-button">Leer más</a>
      </div>
    </div>
  </section>
  <section class="blogs-posts-container">
    <div class="grid-container">
      <h3></h3>
      <article class="post-container">
        <img th:src="@{/img/TartaQueso.jpg}" alt="">
        <p>Tarta de Queso y Limón</p>
        <p>Si deseas aprender a hacer una tarta de queso para chuparse los dedos, este es tu sitio.</p>
        <a href="/Entrada_Tarta_Queso" class="blogs-button">Leer más</a>
      </article>
      <article class="post-container">
        <img th:src="@{/img/bizcochoYogur.jpg}" alt="">
        <p>Bizcocho de yogurt</p>
        <p>Seguramente nunca has probado un bizcocho de yogurt como este. ¿A que esperas?</p>
        <a href="/Entrada_BYogurt" class="blogs-button">Leer más</a>
      </article>
      <article class="post-container">
        <img th:src="@{/img/rafaeloblanca.jpg}" alt="">
        <p>Tarta Raffaello</p>
        <p>Sin duda mi tarta favorita. Una explosión de sabor. Tómalo como recomendación personal.</p>
        <a href="/Entrada_Raffaello" class="blogs-button">Leer más</a>
      </article>
      <article class="post-container">
        <img th:src="@{/img/lasañabolo.jpg}" alt="">
        <p>Lasaña Boloñesa</p>
        <p>Ni el mismisimo hijo de la grandisima put* de Garfield ha probado una lasaña semejante.</p>
        <a href="/Entrada_Lasagna" class="blogs-button">Leer más</a>
      </article>
      <article class="post-container">
        <img th:src="@{/img/receta-de-pasta-con-salsa-alfredo.jpg}" alt="">
        <p>Pasta Alfredo</p>
        <p>La pasta que me solia preparar mi tio Alfredo, pero ahora en mi blog.</p>
        <a href="/Entrada_Pasta_Alfredo" class="blogs-button">Leer más</a>
      </article>
      <article class="post-container">
        <img th:src="@{/img/Plato-de-gachamigas.png}" alt="">
        <p>Gachamiga de Siles</p>
        <p>Gachamiga. El plato estrella de Jaén, al mas puro estilo Sileño. ¡Que empape!</p>
        <a href="/Entrada_Gachamiga" class="blogs-button">Leer más</a>
      </article>
    </div>
  </section>
</main>
<footer>
  <p>Página creada con mucho amor para Maria Luisa Cózar Concejil. Sin animo de lucro. Todos los derechos reservados©.</p>
</footer>
</body>
</html>
