<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MientrasHagoLimonada</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<header>
  <section class="header-icons-container">
  </section>
  <nav>
    <section class="nav-logo-container">
      <a href="/"><img th:src="@{/img/LogoMientrasHagoLimonada.PNG}" alt="" > </a>
    </section>
    <section class="profile-link">
      <a href="/blogs">Vuelta a lo bueno</a>
    </section>
  </nav>
</header>
<div>
</div>
<main>
  <section class="grid-container blogpost-img-container">
    <img th:src="@{/img/rafaeloblanca.jpg}" alt="">
  </section>
  <section class="blogpost-main-container">
    <div class="grid-container">
      <h3>Postres || Tartas</h3>
      <article>
        <h1>Tarta de Raffaellos</h1>
        <p>
        <h2>Ingredientes:</h2>
          1 Paquete de galletas tipo digestive
          30 gr. de mantequilla (ó la que necesites)
          Mousse:
          500 ml. nata, 2 claras de huevo, 225 gr. Nutella (usé 250gr.),  1/2 taza de leche,  3 hojas de gelatina (usé 4 hojas), 10 Bombones RAFFAELLO.
          Cubierta:
          8 fresones limpios y laminados
          2 cucharadas soperas de azúcar glacé
          5 Raffaelos
        </p>
        <p>
          Elaboración:
        </p>
        <p>

        <h2>La base:</h2>


          Trituramos las galletas con la ayuda de una trituradora hasta reducirla a polvo.
          Derretir la mantequilla en el microondas.
          Añadir a las galletas la mantequilla fundida, remover y aplastar, hasta formar la base de nuestra tarta. Si es posible utilizar un molde para tartas con la base desmontable. Metemos la base recién formada en el frigorífico para que se vaya enfriando.
        </p>
        <p>
        <h2>La mousse:</h2>


          Poner las hojas de gelatinas (las suelo cortar por la mitad) en remojo en un plato con agua fría, durante unos 8 minutos. Quedarán reblandecidas como una textura gelatinosa pero fácil de manejar.
          Poner 1/2 vaso de leche en el microondas hasta que hierva. Sacarlo e incorporar en ese momento la gelatina reblandecida y escurrida. Remover con una cuchara hasta que se disuelva completamente. Dejar templar.
          Meter la Nutella en el microondas unos segundos para que adquiera una textura más líquida. Incorporar la leche con la gelatina a la Nutella sin dejar de remover hasta que se mezclen bien. Dejar templar.
          Montamos la nata sin azúcar, ya que la Nutella le dará el toque dulce (la nata debe estar bien fría). Cuando la tengamos montada, incorporamos la nata a la mezcla de Nutella con movimientos envolventes (muy suaves, para que no baje la nata).</p>
        </p>
        <p>
          <h2>Montaje:</h2>
        </p>
        <p>

          Sacamos la base de las galletas del frigorífico. Repartimos la mousse por encima y la introducimos de nuevo a enfriar. Bastaran un par de horas para que cuaje. Transcurrido ese tiempo dispondremos los fresones laminados por encima a nuestro gusto. El siguiente paso es decorar con los Raffaellos, coronando nuestra tarta. Por último espolvorearemos el azúcar glacé por encima.
          Opcionalmente puede añadirse nata montada.
          Guardaremos en frío hasta la hora de su degustación.
        </p>
      </article>
    </div>
  </section>
  <section class="contact-main-container">
    <div>
      <img th:src="@{/img/LogoMientrasHagoLimonada.PNG}" alt="">
      <div class="contact-left">
        <a href="/perfil">Contacto</a>
        <p>Conóceme un poco.</p>
      </div>
    </div>
    <div>
      <img th:src="@{/img/limonero.jpg}" alt="">
      <div class="contact-right">
        <a href="/Login">Escribe</a>
        <p>Accede a la sección de comentarios.</p>
      </div>
    </div>
  </section>
</main>
<footer>
  <p>Página creada con mucho amor para Maria Luisa Cózar Concejil. Sin animo de lucro. Todos los derechos reservados©.</p>
</footer>
</body>
</html>
