<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MientrasHagoLimonada</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
<header>
  <section class="header-icons-container">
  </section>
  <nav>
    <section class="nav-logo-container">
      <a href="/"><img src="LogoMientrasHagoLimonada.PNG" alt="" > </a>
    </section>
    <section class="profile-link">
      <a href="blogs.html">Vuelta a lo bueno</a>
    </section>
  </nav>
</header>
<div>
</div>
<main>
  <section class="grid-container blogpost-img-container">
    <img src="Plato-de-gachamigas.png" alt="">
  </section>
  <section class="blogpost-main-container">
    <div class="grid-container">
      <h3>Primeros || De pueblo</h3>
      <article>
        <h1>Gachamiga de Siles</h1>
        <p>
        <h2>Ingredientes:</h2>

        <p>Harina de trigo 250g</p>

        <p>6 Diente de ajo</p>

        <p>Aceite de oliva virgen extra 125ml</p>

        <p>Agua 750 ml</p>

        <p>Sal</p>

        </p>
        <p>
        <h2>Elaboración:</h2>
        </p>
        <p>
          En una cazuela baja y no muy ancha cocinar los ajos enteros a fuego medio tres minutos y reservar. Añadir la harina e integrar con el aceite y cocinar tres minutos.

          Añadir el agua y homogeneizar con la harina para que no haya grumos, quedará muy espeso. Seguir cocinando hasta que tenga consistencia compacta a fuego medio. Dorar por uno de los lados y hacer lo mismo por el otro.

          Servir caliente en la propia cazuela con los ajos por encima.
        </p>
      </article>
    </div>
  </section>
  <section class="contact-main-container">
    <div>
      <img src="limonero.jpg" alt="">
      <div class="contact-left">
        <a href="perfil.html">Contacto</a>
        <p>Conóceme un poco.</p>
      </div>
    </div>
    <div>
      <img src="limonero.jpg" alt="">
      <div class="contact-right">
        <a href="login.html">Escribe</a>
        <p>Accede a la sección de comentarios.</p>
      </div>
    </div>
  </section>
</main>
<footer>
  <p>Página creada con mucho amor para Maria Luisa Cózar Concejil. Sin animo de lucro. Todos los derechos reservados©.</p>
</footer>
</body>
</html>
