<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MientrasHagoLimonada</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<header>
  <section class="header-icons-container">
  </section>
  <nav>
    <section class="nav-logo-container">
      <a href="/"><img th:src="@{/img/LogoMientrasHagoLimonada.PNG}" alt="" > </a>
    </section>
    <section class="profile-link">
      <a href="blogs.html">Vuelta a lo bueno</a>
    </section>
  </nav>
</header>
<div>
</div>
<main>
  <section class="grid-container blogpost-img-container">
    <img src="receta-de-pasta-con-salsa-alfredo.jpg" alt="">
  </section>
  <section class="blogpost-main-container">
    <div class="grid-container">
      <h3>Primeros || Pasta</h3>
      <article>
        <h1>Pasta Alfredo</h1>
        <p>
        <h2>Ingredientes:</h2>

        200 gramos de fettuccine frescos o cualquier pasta larga
        50 gramos de mantequilla
        Sal
        150 gramos de queso parmesano rallado
        Pimienta negra
        Aceite de oliva
        Perejil picado o cebollino para decorar (opcional)

        </p>
        <p>
        <h2>Elaboración:</h2>
        </p>
        <p>

          Comenzamos cociendo los fettuccine en abundante agua con sal como indique el fabricante. Yo usé pasta fresca por lo que solo tuve que cocerla 4 minutos.

          Por otra parte debemos derretir la mantequilla a fuego lento en una sartén.

          Cuando hayamos cocido la pasta, la trasladamos a la sartén con mantequilla y ligamos un poquito. Recordad que debéis de incorporar un poco de agua de la cocción que luego nos servirá para crear la famosa salsa.

          En un bol rallamos el queso. Es mucho mejor comprar el parmigiano entero y rallarlo en casa en vez de estos sobres donde viene rallado.

          Ahora pasamos la pasta al bol y, como dicen en el famoso restaurante, “mantecamos”. Esto es mezclamos todo muy bien hasta que se ligue la pasta con el queso rallado y se forme la famosa salsa.

          Emplatamos con pimienta negra recién molida

        </p>
      </article>
    </div>
  </section>
  <section class="contact-main-container">
    <div>
      <img src="limonero.jpg" alt="">
      <div class="contact-left">
        <a href="perfil.html">Contacto</a>
        <p>Conóceme un poco.</p>
      </div>
    </div>
    <div>
      <img src="limonero.jpg" alt="">
      <div class="contact-right">
        <a href="login.html">Escribe</a>
        <p>Accede a la sección de comentarios.</p>
      </div>
    </div>
  </section>
</main>
<footer>
  <p>Página creada con mucho amor para Maria Luisa Cózar Concejil. Sin animo de lucro. Todos los derechos reservados©.</p>
</footer>
</body>
</html>
