<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MientrasHagoLimonada</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<header>
  <section class="header-icons-container">
  </section>
  <nav>
    <section class="nav-logo-container">
      <a href="/"><img src="LogoMientrasHagoLimonada.PNG" alt="" > </a>
    </section>
    <section class="profile-link">
      <a href="/perfil">Sobre mí</a>
    </section>
  </nav>
</header>
<main>
  <section class="blogpost-main-container">
    <div class="grid-container">
      <h3>Estamos de vuelta</h3>
      <article>
        <h1>Nuestra Historia</h1>
        <p>SI. Es cierto que nos fuimos una vez, pero he decidido que esta no iba a ser la manera de despedirnos de todos vosotros. Mucha gente nos habrá echado de menos a nosotros y a nuestras grandes y sabrosas recetas. Para todos vosotros, disfrutadlo y aprovechad las pedazo de recetas que os dejamos por aqui.</p>
      </article>
    </div>
  </section>
  <section class="contact-main-container">
    <div>
      <img th:src="@{/img/LogoMientrasHagoLimonada.PNG}" alt="">
      <div class="contact-left">
        <a href="/Entrada_Lasagna">Entrada Aleatoria</a>
        <p>Vamos... Si lo estás deseando...</p>
      </div>
    </div>
    <div>
      <img th:src="@{/img/limonero.jpg}" alt="">
      <div class="contact-right">
        <a href="/listado">Escribe</a>
        <p>Accede a la sección de comentarios.</p>
      </div>
    </div>
  </section>
</main>
<footer>
  <p>Página creada con mucho amor para Maria Luisa Cózar Concejil. Sin animo de lucro. Todos los derechos reservados©.</p>
</footer>
</body>
</html>
