<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MientrasHagoLimonada</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<header>
  <section class="header-icons-container">
    <!--<div class="icons">
      <a href="/"><span class="flaticon-001-facebook"></span></a>
      <a href="/"><span class="flaticon-002-twitter"></span></a>
      <a href="/"><span class="flaticon-011-instagram"></span></a>
      <a href="/"><span class="flaticon-010-linkedin"></span></a>
      <a href="/"><span class="flaticon-008-youtube"></span></a>
    </div> -->
  </section>
  <nav>
    <section class="nav-logo-container">
      <a href="/"><img th:src="@{/img/LogoMientrasHagoLimonada.PNG}" alt="" > </a>
    </section>
    <section class="profile-link">
      <a href="/blogs">Vuelta a lo bueno</a>
    </section>
  </nav>
</header>
<main>
  <section class="profile-main-container">
    <div class="grid-container profile-container">
      <div>
        <img src="assets/img/profile-pic.jpg" alt="">
      </div>
      <div>
        <h2>¡Hola, mi nombre es Daniel Kuperus Cózar!</h2>
        <p>Ya te tienes que aburrir para mirar este apartado colega. De todas maneras, si, soy el creador de esta maravilla. Soy estudiante de segundo año de grado superior en desarrollo de aplicaciones multiplataforma y esto de aqui es mi proyecto compartido para interfaces y acceso a datos.</p>
      </div>
    </div>
  </section>
  <section class="profile-main-proyects">
    <div class="grid-container">
      <h3>Conóceme más</h3>
      <div class="proyects-main-container">
        <article class="proyect-container">
          <h4>Hobbies</h4>
          <p>Me gusta mucho el visitar nuevos lugares. Se podria decir que me encantaria vivir viajando, asi que es lo que hago cuando me és oportuno. Cuando no , juego al póker o disfruto de contenido audiovisual variado.</p>
        </article>
        <article class="proyect-container">
          <h4>Aspiraciones</h4>
          <p>Me gustaria convertirme en Android Developer. Aunque no me seria ninguna molestia aprender en IOS. Me encantaria llegar a trabajar en alguna empresa como google, asi que intentaré llegar todo lo alto que se me permita.</p>
        </article>
        <article class="proyect-container">
          <h4>Algo más personal</h4>
          <p>Tengo 20 años. Mis apellidos son de origen Holandés y Español. Mi familia viene principalmente de un pueblo muy pequeño ubicado en La Sierra. Me gustan los limones.</p>
        </article>
      </div>
    </div>
  </section>

  <section class="contact-main-container">
    <div>
      <img th:src="@{/img/limonero.jpg}" alt="">
      <div class="contact-left">
        <a href="Entrada_Raffaello.html">Entrada Aleatoria</a>
        <p>Vamos... Si lo estás deseando...</p>
      </div>
    </div>
    <div>
      <img th:src="@{/img/limonero.jpg}" alt="">
      <div class="contact-right">
        <a href="/login">Escribe</a>
        <p>Accede a la sección de comentarios.</p>
      </div>
    </div>
  </section>
</main>
<footer>
  <p>Página creada con mucho amor para Maria Luisa Cózar Concejil. Sin animo de lucro. Todos los derechos reservados©.</p>
</footer>
</body>
</html>
